
.wrapper {
  display: block;
  position: fixed;
  top: var(--padM);
  right: var(--padM);
  bottom: var(--padM);
  left: var(--padM);
  background: var(--beige);
  padding: var(--padL);
}

.closeButton {
  position: absolute;
  top: -8px;
  left: -8px;
  padding: 4px 8px;
  border-radius: 100px;
}
